[2019-07-16 15:04] metalmatze opened #14 "Use proper tag for thanos-receive-controller container image"
Currently we use `:latest`. We should not be doing that once we get more stable and deploy to production.

[2019-07-16 15:05] metalmatze opened #15 "Figure out the way forward of running multiple Thanos stores"
More explanation over here: https://github.com/improbable-eng/thanos/issues/1083

[2019-07-17 09:56] #14 closed

[2019-07-18 13:57] squat opened #18 "add CI stage for jsonnet verification"
add a stage to the .drone.yml config to verify that the generated files are correct and match those in the repo, otherwise we can't differentiate hand-made changes from properly generated ones.

[2019-07-19 13:33] squat commented on #18
closed by #20

[2019-07-19 13:33] #18 closed

[2019-09-09 09:23] jpkrohling opened #57 "Setup Jaeger backend"
Setup a simple Jaeger backend, made up of:

- Jaeger All in One with Badger (cc @burmanm). Once we figure out how HA can be achieved in our setup, we can split the deployments: collector in read-write mode, query in read-only mode.
- Jaeger Service, exposing the UI port (16686) and the collector's gRPC (14250).

@aditya-konarde: how can we proceed with adding the Jaeger Agent as a sidecar to the T

[2019-09-09 09:24] jpkrohling commented on #57
For those wondering: operators are a no-go in the current setup, but the idea is to move to it in the future.

[2019-10-18 07:13] jpkrohling commented on #57
I can work on that in the coming week(s), if you can wait. Otherwise, here's the relevant commit I've shown during the presentation: https://github.com/jpkrohling/configuration/commit/c0f0faa1d855b6880365f71953a50a78c667e66c

Apart from adding a [sidecar](https://github.com/jaegertracing/jaeger-operator/blob/bad90a64177d062f7be973d73de00d404b92b95f/pkg/inject/sidecar.go#L153-L184) to the affected

[2019-11-28 15:07] kakkoyun opened #123 "Update OpenShift Resources with Jinja Template support"

[2020-02-11 13:49] kakkoyun commented on #123
obsolete.

[2020-02-11 13:49] #123 closed

[2020-02-13 13:28] bwplotka opened #181 "Detect jsonnet generation errors."
Sorry for starting :fire: again.. (:

I find this quite confusing that if I make a mistake like this, so use a field that is not defined before, there is 0 build error, and nothing changes in generated files.

[code]

I know that this is silly mistake of mine, I probably modify some config struct not the container itself, but as a newbie, I have 0 idea where is the field that I want and if the fie

[2020-02-13 13:35] brancz commented on #181
It should cause a validation error, which it does at CI time, but we should have validations as part of the tooling earlier I agree.

[2020-02-13 13:35] metalmatze commented on #181
That's kind of the reasoning behind ksonnet, I guess. We get kind of "type" safety by using their generated functions over just using plain objects. It's very cumbersome to right on the other hand with a lot of trade off.
The best solution right now would be to basically always dry-run templates against an Apiserver and see what happens.

As for CUE: Yes, that would be something that would have be

[2020-02-13 13:36] krasi-georgiev commented on #181
I am not facing similiar issues, need to dig too deep into configs to find what I am looking for. As @brancz mentioned this is the best solution so far, but I would also want to keep the conversation open for trying out alternatives.

[2020-02-13 13:42] brancz commented on #181
https://github.com/kubernetes/kubernetes/issues/64830 basically alludes to the point that this is not a language problem, but no matter what generates the manifest, we always have to dry run them against a cluster which would catch the same and more problems.

[2020-02-13 14:08] bwplotka commented on #181
I agree that we have to run dry runs. But we can catch 1000x more things in generation time if we would use type safe language.

[2020-02-13 17:08] brancz commented on #181
Not disagreeing in a general case, but if the build and validation happen within the same process, which we're perfectly capable of doing, then what's the difference? :)

I'm not arguing against trying cue at all, but I also think we haven't improved our existing tooling sufficiently.

[2020-02-18 15:10] rollandf opened #188 "Observatorium API manifest not generated"
The manifest for the Observatorium API is not generated for base environment

[2020-02-19 12:49] kakkoyun commented on #188
We have a WIP PR for this https://github.com/observatorium/configuration/pull/189

[2020-03-02 12:15] #188 closed

[2020-03-03 16:40] rollandf opened #200 "build_dev fails with RUNTIME ERROR: Field does not exist: service"
With commit 5c400432ad2fadd0e7e3f0f4f5ba2503a5c3316d when running ./build_dev.sh, we get the following error:

[code]

[2020-03-03 17:06] metalmatze commented on #200
Can reproduce this locally, looking into it right now.

[2020-03-03 17:58] #200 closed

[2020-03-15 16:20] nmagnezi opened #208 "cortex-query-frontend config error resulting CrashLoopBackOff"
Tested locally, this is not failing the CI tests:
[code]
Result:
[code]

Additional details
[code]

[2020-03-15 16:24] squat commented on #208
Thanks for reporting!

[2020-03-17 13:41] brancz commented on #208
I suspect this is because the configuration scheme was broken at some point in cortex. Are you using the latest version used elsewhere in this repo?

[2020-03-17 14:44] nmagnezi commented on #208
@brancz yup. Looks better when I use quay.io/cortexproject/cortex:master-fdcd992f

I'll submit a PR to update this, but will also open an issue to reflect that this failure is not reflect on CI.

[code]

[2020-03-17 15:04] nmagnezi opened #211 "CI tests are not catching issues with observatorium-api and cortex"
Related Issue https://github.com/observatorium/configuration/issues/208

[2020-03-17 19:59] #208 closed

[2020-03-19 09:02] rollandf commented on #211
Here are `up` logs when running with the wrong Cortex image:
[code]
And the `e2e.sh` output is: `job.batch/observatorium-up condition met`

[2020-03-19 13:22] brancz commented on #211
that should indeed be fixed, this should have failed

[2020-03-22 17:06] nmagnezi opened #216 "CI Tests create minio namespace, whereas minio resources reside on Observatorium"
This means that both Observatorium CR and minio reside on the same namespace.

[2020-03-24 09:21] rollandf commented on #211
It seems the problem is in `up` code.
`up` will exit with error if the `run group` finishes with error:
https://github.com/observatorium/up/blob/master/main.go#L262

However, the `run group` will return the error returned by the first exiting actor:
https://github.com/oklog/run/blob/master/group.go#L28

In general, the writer will finish first.
It can be reproduce in `up` repo by running `make tes

[2020-03-24 10:11] brancz commented on #211
Makes sense. Do you want to fix that @rollandf ? We should only exit the writer run group when done no? Maybe put them in the same run group to make that coordination easier?

cc @squat @kakkoyun

[2020-03-24 10:15] squat commented on #211
nice find there :+1:

[2020-03-24 11:54] rollandf commented on #211
I can try to fix it.
There is currently only one run group. Should I split the writer and the reader in different groups?

[2020-03-24 12:22] brancz commented on #211
No strong opinion. Happy with any strategy that would fix it :)

[2020-03-26 14:38] #216 closed

[2020-03-29 07:28] rollandf commented on #211
Proposed fix here: https://github.com/observatorium/up/pull/12

[2020-03-31 13:01] rollandf commented on #211
Fixed by #230

[2020-03-31 13:04] #211 closed

[2020-03-31 13:05] kakkoyun commented on #15
Fixed by https://github.com/observatorium/configuration/pull/194

[2020-03-31 13:05] #15 closed

[2020-03-31 13:08] kakkoyun commented on #57
Completed by #105

[2020-03-31 13:08] #57 closed

[2020-04-01 02:23] clyang82 opened #232 "Go module name"
When I use the observatorium api, it throws
[code]
I think we should rename the module name to `github.com/observatorium/configuration` in go.mod. Does it make sense? @nmagnezi

[2020-04-01 08:37] nmagnezi commented on #232
Hi @clyang82, thanks for reporting the issue!

I'm looking into the module name issue, but can you please explain what you are trying to do? I need to better understand your use case.

If you wish to import the observatorium-api, the git repo is [github.com/observatorium/observatorium](https://github.com/observatorium/observatorium)

[2020-04-01 09:01] clyang82 commented on #232
Hi @nmagnezi , thanks for your time to look at this issue.

I would like to reuse the types defined in  https://github.com/observatorium/configuration/blob/master/api/v1alpha1/observatorium_types.go

I follow this document to add 3rd party resource - https://github.com/operator-framework/operator-sdk/blob/master/doc/user-guide.md#adding-3rd-party-resources-to-your-operator
so the above error occur

[2020-04-01 10:18] #232 closed

[2020-04-03 11:29] clyang82 opened #235 "Cannot cleanup the observatorium pod/svc"
Cannot cleanup the observatorium pod/svc/... when removing the observatorium CR. we should add the `ownerReferences` to the created pod/svc...

@nmagnezi

[2020-04-03 12:53] brancz commented on #235
Agreed

[2020-04-05 11:46] nmagnezi commented on #235
Thanks @clyang82, I'll look into it.

[2020-04-07 06:34] rollandf opened #239 "Add "Vendor" directories"
For offline builds, there is a need for "vendor" directory.

1. Add vendor for Go libraries.
2. Support different vendor directory location for Jsonnet libraries

[2020-04-07 07:00] rollandf commented on #239
Not needed for Go, we use Cachito.
Still needed for Jsonnet.

[2020-04-07 11:40] kakkoyun commented on #239
This one is also getting a little bit frustrating while developing.

[2020-04-07 14:10] kakkoyun opened #242 "Remove `.cluster.local`"
https://github.com/observatorium/configuration/pull/238#discussion_r404276940

[2020-04-07 14:41] kakkoyun opened #243 "Re-use memcached component for Telemeter"
https://github.com/observatorium/configuration/pull/238#discussion_r404833415

[2020-04-08 03:34] clyang82 opened #246 "Configure Thanos to the OCP alertmanager"
Configuration of Thanos to OCP’s AlertManager on Hub Cluster via Observatorium operator or provide a document about how to configure it.

[2020-04-08 07:23] brancz commented on #246
Agreed, this needs to be possible.

[2020-04-09 02:29] clyang82 commented on #246
Thanks @brancz
FYI  @randymgeorge @bjoydeep

[2020-04-27 20:37] marcolan018 opened #259 "Feature Request: user can define alert/recording rules in Rule component"
Seems using current observatorium operator, on related parameters exposed and the only way to config the alert/recoding rules is the enter the rule container and edit local rule files directly.
We need more friendly way, such as update the rules using configmap, or CR.

[2020-04-28 07:41] brancz commented on #259
There will most likely be a provisioning API for each tenant to configure rules.

cc @metalmatze @squat for this we will definitely need a database so sooner or later we should start digging into this

[2020-04-28 09:09] clyang82 commented on #235
@nmagnezi any progress?

[2020-04-30 10:17] brancz opened #261 "Struct tags should not have different values than their field name"
There are a few field names that differ from their struct tag representation. This is a bad practice as it often causes confusion and is also inconsistent. They should be aligned. An example:

https://github.com/observatorium/configuration/blob/c835853933cae03341a19fef1ce8a960b54a2707/api/v1alpha1/observatorium_types.go#L26

@nmagnezi @rollandf

[2020-04-30 10:22] brancz opened #262 "Each thanos component should have its own image and version definition"
As said in the title, to allow rollout of components individually (canarying, etc.) it must be possible to specify the version and image individually per component.

@nmagnezi @rollandf

[2020-04-30 10:29] rollandf commented on #261
Sure, I will fix it.

[2020-04-30 11:02] rollandf commented on #262
I will work on it

[2020-04-30 15:13] kakkoyun opened #265 "Remove environment specific configuration"
* [ ] Store GW Memcached  index-cache
* [ ] Ignore deletion marks

[2020-05-04 06:22] #262 closed

[2020-05-04 08:57] rollandf commented on #261
This have been handled here #264
I think it can be closed now.

[2020-05-04 09:04] #261 closed

[2020-05-07 07:48] #235 closed

[2020-05-07 08:01] clyang82 commented on #235
Thanks @brancz  @nmagnezi @rollandf

[2020-05-10 15:21] ahadas opened #270 "Operator fails on invalid memory address or nil pointer dereference"
It looks like some kind of race that resulted in:
[code]

[2020-05-11 15:21] brancz commented on #270
Sounds like this might be a bug on locutus?

[2020-05-11 16:28] ahadas commented on #270
Yeah, looks like that.... :/

[2020-05-12 09:02] rollandf commented on #239
Fixed by #257

[2020-05-12 09:08] #239 closed

[2020-05-13 07:37] nmagnezi opened #272 "The Operator should support TLS for observatorium-api"
The operator should allow passing a secret in CR, to be used in observatorium-api pod args.

[2020-05-13 07:38] nmagnezi commented on #272
I do not have permissions to assign a myself, but I'm working on that.

[2020-05-26 13:00] metalmatze opened #282 "Rename repository to observatorium/deployments"
With more and more things being added to this repository, it's not only about the initial jsonnet *configuration* anymore.
Therefore we propose to rename this repository to observatorium/deployments.
Hopefully, it'll be a bit more obvious that this repository contains a few different ways of deploying Observatorium going forward.

/cc @observatorium/maintainers @rollandf @nmagnezi

[2020-05-26 13:05] bwplotka commented on #282
Agree (:

What about something short like `deploy`

[2020-05-26 13:21] krasi-georgiev commented on #282
+1 observatorium/deploy

[2020-05-26 13:51] squat commented on #282
:+1:

[2020-05-26 14:12] kakkoyun commented on #282
If we do this, can we have jsonnet-bundler compatible directory that includes base configuration. That'd be easier to extend in downstream repositories.

[2020-05-26 14:18] squat commented on #282
I think that that is something we should do regardless of renaming the repo, no?

[2020-05-26 17:03] brancz commented on #282
Don't we have that today? But yes, I agree, it's separate. Let's make other folks aware that we are planning on doing this, if they also give the ok then I'm happy with just moving forward with it.

[2020-05-27 06:18] rollandf commented on #282
:+1:

[2020-05-27 06:27] rollandf opened #284 "Images in the CRD should be optional, with defaults handled by operator"
We would like to have defaults for the images in the Observatorium CR. There are currently are 11 images to configure (6x Thanos,api,queryCache, memcached, memcached_exporter, receivecontroller). This could be a hurdle for the user.

1. Make images as optional in the CRD.
2. Operator will use preconfigured images if the user did not specified them in the CR.
3. The user can override one or more im

[2020-05-27 07:24] nmagnezi commented on #282
👍

[2020-05-27 07:52] brancz commented on #284
I agree! If nothing else the experience that I would expect as a user is that I just have to update the version of my observatorium-operator, and my stack automatically upgrades itself due to that. Only if I have a very specific reason to do so should I need to override images.

[2020-05-27 09:29] nmagnezi opened #285 "dev up client manifest fails to spawn a working pod"
the `up` manifest under `dev` fails with the following:
[code]

This is not being used in CI, is it there by mistake?
This should either be fixed or removed.

P.S.
The `up` pod created by the job does not use `--queries-file`

[2020-05-27 09:47] brancz commented on #285
@krasi-georgiev I think you last touched this no? (cc @kakkoyun as I think you reviewed it so maybe you're familiar with it :) )

[2020-05-27 10:37] krasi-georgiev commented on #285
checking

[2020-05-27 11:37] #285 closed

[2020-05-27 14:28] #284 closed

[2020-05-27 14:46] rollandf opened #288 "CRD validation - Check that version is set if image exists"
In case that the user specified an image in the CRD, we would like to validate that the version is also set.

Maybe `openapischema` supplies a way to enforce the needed validation.

[2020-06-08 14:36] rollandf opened #295 "Documentation - RBAC and tenants"
Add explanations on configuring RBAC and tenants in k8s and OCP

[2020-06-09 10:31] metalmatze commented on #282
done :)

[2020-06-09 10:31] #282 closed

[2020-06-09 11:11] squat opened #297 "Move deploy directory"
The deploy directory is currently confusing IMO; the entire repo contains deployment examples for the observatorium platform. The deploy directory on the other hand only includes configuration for deploying the operator. Let's move this into the operator directory instead.

cc @observatorium/maintainers  @rollandf

[2020-06-09 11:46] squat opened #301 "Generate Operator manifests with jsonnet"
Currently, all of the manifests for deploying the operator, ie the RBAC and deployment, are written by hand. These should be generated via jsonnet just like all other observatorium components.

[2020-06-09 11:55] #297 closed

[2020-06-09 13:00] brancz commented on #301
Agreed! A slight extension in the permissions part (could definitely be done as a follow up to this), I always imagined, that locutus would be able to generate the RBAC roles necessary based on it's input and the configured/potential actions performed and informers configured.

[2020-06-09 13:07] squat commented on #295
Note this overlaps with an issue observatorium/observatorium: https://github.com/observatorium/observatorium/issues/64

[2020-06-09 13:07] squat commented on #295
I think maybe we should keep the documentation in the observatorium repo to ensure things are not spread out too much. WDYT @rollandf?

[2020-06-09 13:14] rollandf commented on #295
Sure. We can refer to the observatorium repo for details.

[2020-06-09 13:14] #295 closed

[2020-06-22 12:10] periklis opened #307 "Streamline image in up-job for loki"
I will consider this on a separate PR. Need to test it with loki's default to drop old samples.

_Originally posted by @periklis in https://github.com/observatorium/deployments/pull/281/review_comment/create_

[2020-06-22 12:11] periklis commented on #307
/assign @periklis

[2020-06-22 18:05] nmagnezi opened #308 "make generate broken in master"
when I tried to rebase [PR-273](https://github.com/observatorium/deployments/pull/273) after [PR-281](https://github.com/observatorium/deployments/pull/281) , I noticed it fails to generate jsonnet manifests. Tested this directly with `master` branch and got the very same result:

[code]

[2020-06-23 15:08] brancz commented on #308
You need jsonnet version >=0.15

[2020-06-23 16:49] rollandf commented on #308
Maybe it worth to have jsonnet as part of the tools.go, and compile when needed?
https://github.com/observatorium/deployments/blob/master/operator/tools.go#L8

It could solve these kind of issues.

[2020-06-23 17:04] brancz commented on #308
Yes I think that's a good idea. @bwplotka's `bingo` project would be perfect for this.

[2020-07-24 04:08] clyang82 opened #313 "volumeClaimTemplate does not work"
From here - https://github.com/observatorium/deployments/blob/master/example/manifests/observatorium.yaml we can see that it is allowed to define `volumeClaimTemplate` for store/rule/receiver/compact component. Actually, the operator does not take this definition to apply to each component. the component is still using `emptyDir: {}`. for example: https://github.com/observatorium/deployments/blob/

[2020-07-24 06:05] brancz commented on #313
emptydir is just the default, the configuration here uses https://github.com/thanos-io/kube-thanos/blob/c070408f18b155fca804cd3da7709313b1717965/jsonnet/kube-thanos/kube-thanos-receive.libsonnet#L191-L212

[2020-07-24 06:16] clyang82 opened #314 "Make Loki as an optional"
In my understanding, the metrics, logs, traces, profiles etc are the components of observatorium. they should not be designed as required components. they are should be optional. we should have one component enabled at least in order to install observatorium operator.

@brancz @squat any comments? Thanks.

[2020-07-24 06:32] clyang82 commented on #313
Thanks @brancz for your response.

Please correct me if I am wrong.

all the manifests (environments/base/manifests and example/manifests/observatorium.yaml) are generated based on https://github.com/observatorium/deployments/blob/master/environments/base/default-config.libsonnet. You can see that for `rule`, `volumeClaimTemplates` is defined https://github.com/observatorium/deployments/blob/d5ba8

[2020-07-24 06:56] brancz commented on #313
Yes we need to conditionally merge the volume claim patch, if that's specified in the CR.

[2020-07-30 15:40] songleo opened #315 "Feature Request: should have a configurable params for enable/disable downsampling"
I installed observatorium-operator and found the thanos-compact disable downsampling (`--downsampling.disable`). I didn’t find any config to enable it, we should have this be configurable in the CR. For detail: https://coreos.slack.com/archives/C010A637DGB/p1594884831397400

[2020-07-31 10:01] brancz commented on #315
yeah I think making this configurable and have downsampling on by default makes sense

[2020-08-04 12:52] #314 closed

[2020-08-05 09:19] metalmatze commented on #314
Hm, eventually we will need some sort of requirements on signals to be able to correlate properly. For now, having them optional is fine.

[2020-08-11 08:46] clyang82 opened #319 "observatorium operator is CrashLoopBackOff"
observatorium operator is CrashLoopBackOff due to
[code]
I think the observatorium operator should not retrieve all server apis.

[2020-08-12 06:17] #313 closed

[2020-08-28 15:11] clyang82 commented on #315
I am working on that.

[2020-09-02 07:19] #315 closed

[2020-09-07 14:13] squat commented on #272
closed in https://github.com/observatorium/deployments/pull/329

[2020-09-07 14:13] #272 closed

[2020-09-29 08:05] clyang82 commented on #319
fixed by brancz/locutus#12

[2020-09-29 08:05] #319 closed

[2021-04-28 19:29] bwplotka opened #396 "Define the Governance, Official Maintainers List and CoC"
Make it clear how project is governed.

Proposal:
* Use CNCF Code of Conduct
* Use Thanos [Governance](https://github.com/thanos-io/thanos/blob/main/docs/governance.md)

[2021-04-28 19:30] bwplotka commented on #308
Done: https://github.com/observatorium/observatorium/blob/main/.bingo/jsonnet.mod#L5

[2021-04-28 19:30] #308 closed

[2021-04-28 19:31] bwplotka commented on #270
Let's move this issue to https://github.com/brancz/locutus then 🤗 Thanks!

[2021-04-28 19:31] #270 closed

[2021-05-02 08:05] bwplotka opened #401 "Pin Hugo version"
Right now it's not provided for users:

[code]

[2021-05-10 20:16] #396 closed

[2021-05-13 18:21] ArthurSens opened #410 "Loki components stuck on `CrashLoopBackOff` when deploying example manifests on GKE"
Yesterday I was trying to deploy Observatorium on a fresh new GKE cluster.

To deploy Observatorium I followed the [e2e test script in the operator repository](https://github.com/observatorium/operator/blob/master/tests/e2e.sh).

The components `loki-compactor`, `loki-ingester` and `loki-querier` got stuck on `CrashLoopBackOff`, all with the same error:
[code]

After manually editing their statefu

[2021-05-13 19:02] ArthurSens commented on #410
Just noticed that the same thing happens to Dex deployment as well

[2021-05-14 05:08] periklis commented on #410
@ArthurSens This sounds strange because the `/data` directory is a persistent volume with `ReadWriteOnce` access mode. Changing the security context to access the volume sounds like brute force. Can you elaborate on your GKE configuration? Especially take a look on the default `StorageClass` used for Loki's PVCs.

[2021-05-18 08:40] #401 closed

[2021-06-29 09:32] bwplotka opened #417 "Create design proposal for Rules API"

[2021-06-29 09:33] bwplotka opened #418 "Create proposal for tenant rate limits"
Quotas we discussed about:
* Series pushed (remote write)
* Series touched (query)

Open Question:
This does not touch samples, should be include this too? (it matters if users touch 1000 samples or 1, but not as much as series)

[2021-07-29 12:54] ianbillett commented on #417
PR for Rules API proposal: https://github.com/observatorium/observatorium/pull/419

[2021-09-17 12:13] bigon commented on #410
Any idea? I'm still seeing that when deploying on EKS

[2021-09-23 11:24] bigon commented on #410
I can confirm that adding a `securityContext` to the container fixed the problem for me here, even with `runAsNonRoot` set as true

[code]

[2021-09-29 11:45] jpkrohling opened #425 "Remove @jpkrohling as maintainer"
My last day at Red Hat is Sep 30, and unfortunately, I do not intend on contributing to Observatorium further, as I do not think this aligns with my upcoming goals. As such, I would like to be removed as a maintainer. I had fun with the PRs I contributed and I'll be following the project from the outside.

[2021-10-02 21:23] squat commented on #410
We test all of the manifests on every PR using KinD. Without Dex and Loki working, the tests wouldn't pass. Something seems fishy here. It's worth checking if this is because of a K8s change or if our tests are silently failing, etc

[2021-10-08 10:27] #425 closed

[2021-10-14 10:18] matej-g opened #427 "Docs: Improve getting started documentation"
Currently, getting started documentation is applicable only to running Observatorium locally on `kind`. It would be nice to have some guidance for users who want to try running Observatorium on a cluster with manifests from `observatorium/configuration/examples/dev`, since the procedure differs from running it locally.

[2021-10-27 14:32] dry923 opened #429 "Installing Observatorium on OpenShift issues"
Adding this as a tracking for issues that were hit while getting Observatorium to work on an OpenShift cluster and not just using Kind.

Based off using configuration/examples/dev files

1) Dex namespace is not created by default so when applying the manifests dex fails.
2) Test configmap is not part of the tests manifests. Needed to apply configuration/tests/manifests/test-ca-tls.yaml
3) Missing

[2021-11-10 18:08] esnible commented on #427
I tried to install following https://github.com/observatorium/observatorium/blob/main/docs/usage/getting-started.md on a cloud Kubernetes.

- I skipped the local install of `hydra` because I have an Internet-accessible Keycloak I wish to use.  Instructions for what is needed for an alternate provider would be of great value.
- The instructions say "update the tenant.issuerURL with correct IP addre

[2021-11-10 18:46] esnible commented on #427
FYI I got past the 7 crashed pods.  IBM Cloud makes persistent volumes that default to permission `drwxr-xr-x 2 nobody`.  I mounted all 7 PVCs and did `chmod 777`.  (I did it interactively).

I don't know how to create a PVC specifying owner and mask, thus I don't know how to solve this without a Job.  I also don't understand it; for the Loki pods `kubectl -n observatorium exec -it observatorium-x

[2021-11-10 19:04] esnible commented on #427
FYI the observatorium-xyz-observatorium-api-x-y pod becomes available after `kubectl apply -f configuration/tests/manifests/test-ca-tls.yaml`.

[2021-11-11 07:50] matej-g commented on #427
Hey @esnible, thanks for putting this together.

As for the OIDC provider, if you will use your own (as you mentioned you have a Keycloak instance), you'll need to change the manifest you mentioned - _api-secret.yaml_ - and change the tenant configuration accordingly, i.e. to use appropriate client ID and secret, redirect URL etc. Since this is just an example deployment, you'll need to change it

[2021-11-17 03:09] kant777 opened #441 "How is observatorium an Apache license?"
How is observatorium an Apache license when loki is AGPL? I see there is a plan to use tempo for tracing which is yet another AGPL license so I wonder how obervatorium can release it as part of Apache 2.0? is observatorium using a fork of loki if so what about the crucial fixes that went in recently such as out of order writes?

[2021-11-17 07:56] periklis commented on #441
@kant777 As usually history happens before anything else. We are using Loki since 2.0 and currently it is pinned on 2.2.1. Back then it used to be Apache2

[2021-11-17 09:05] bwplotka commented on #441
IANAL, but:

The only Loki pieces are touched with the following touchpoints:

* Observatorium packages Loki. I don't think this is impacted by AGPL. If someone makes Loki or Grafana Helm package, it does not make Helm AGPL, does it?
* Loki traffic goes through Observatorium API, but API has no knowledge if it's Loki anything else as long as it uses common API. Similarly, if someone deploys Loki b

[2021-11-17 09:05] #441 closed

[2021-11-17 13:13] kant777 commented on #441
using 2.2.1 is perfectly fine, but how about the important changes that went in after 2.2.1? Especially this one https://github.com/grafana/loki/issues/1544 ? without this change it is hard to use Loki and I expect changing like this will come moving forward so not sure if observatorium has a plan to implement them on its own or use something else?

Below are the concerns to the above questions

O

[2021-11-17 14:15] periklis commented on #441
We are certainly going to update the used Loki image from 2.2.1 to 2.4.1 soon. The license change is not affecting us. The AGPL network effect is an extra security measurement for open source software that is used only as a service and they include custom patches. In this case you need to opensource your custom Loki and its patches. The network effect of AGPL is the balancing act to preserve acces

[2021-11-17 15:16] kant777 commented on #441
"Because you reference the container image from a registry does not apply the network effect on packaging projects like Helm or Observatorium" I hope this is the case but somehow this message is not coming across well with AGPL and there is all sorts of interpretations even if I assume this is true.

Google policy is not for googlers alone, since I went through it myself for several months talking

[2021-11-17 15:21] periklis commented on #441
@kant777 What counts at the end of the day are facts and not interpretations. We certainly understand that Grafana Labs's AGPL switch makes our PR work a bit harder, but at the end of the day protecting open source requires sometimes under special conditions hard measures.

[2021-11-18 08:39] matej-g commented on #417
The proposal has already been approved and is being implemented, I believe we can close this.

[2021-11-18 08:39] #417 closed

[2021-11-19 16:05] pavolloffay opened #442 "Proposal add tracing API and OpenTelemetry collector"
This is a proposal to expose tracing ingestion API in the Observatorium backed by the OpenTelemetry collector.

The OTEL collector does not provide any persistence, it is just a data forwarder as of now, however, it can be configured to send data to a variety of observability vendors or OSS projects like Jaeger or Zipkin or simply log data to the standard output. After this proposal is done we wil

[2021-11-22 08:32] matej-g commented on #442
Hey @pavolloffay thanks for opening this! I'm excited to see tracing move forward. I'm curious about two things:
- I'm wondering about using gRPC vs HTTP - should we rather prefer starting with gRPC over HTTP? If gRPC is supposed to be the de facto standard, it looks like it would be worthwhile to primarily support gRPC and design the proposal with this in mind from the start. It might be more wor

[2021-11-22 09:12] pavolloffay commented on #442
I would prefer to support both protocols for the given reasons (e.g. HTTP is used for mobile clients).
If HTTP work will be more straightforward and quicker I would go for it and it parallel work on the gRPC spec. The idea is to get something working ASAP.

I don't know at this point, most likely for the ingestion part no. @esnible is looking at auth in more detail - both ingestion and query.

[2021-11-22 15:03] matej-g commented on #442
Thanks for clarifying the points @pavolloffay. Overall the proposal looks sounds. To move this further, my suggestion would be to create a (semi)official proposal PR with proposal document in MD format in `docs/proposals/drafts/`. You can base it on a previous draft / approved proposal, but there is no required format. I believe that would give everyone the best chance to get familiar with the pro

[2021-11-23 10:46] pavolloffay commented on #442
@matej-g here is the proposal #443

[2022-02-02 10:00] saswatamcode opened #455 "Interact with Observatorium using `obsctl`"
@onprem and I discussed this a bit today.

It would be a nice idea to have a dedicated CLI for interacting with Observatorium.

The CLI, `obsctl`, will allow users to,
- Manage auth for multiple tenants by saving their configuration locally at a path like `$(HOME)/.obs/config`. So no need to manually configure OIDC flags while making requests each time
- Configure rules for a tenant and view the c

[2022-02-02 12:14] paulfantom commented on #455
Nice!
I wonder if you could use `${XDG_CONFIG_HOME}/obs` as a configuration directory? As per https://wiki.archlinux.org/title/XDG_Base_Directory spec.

[2022-02-03 12:43] saswatamcode commented on #455
Discussed this with a few others. Seems like we can move forward with this idea with the CLI being in a separate repo, maybe observatorium/obsctl! 🙂

cc: @matej-g

[2022-02-04 16:16] matej-g commented on #455
Sounds good @saswatamcode, if we have a consensus on the idea I'm happy to go for the new repo.

cc @observatorium/maintainers

[2022-02-09 13:32] saswatamcode commented on #455
Repo has been created here: https://github.com/observatorium/obsctl!

[2022-02-09 13:33] matej-g commented on #455
It's happening :partying_face: @saswatamcode beat me to it. Only remaining item for this issue for me would be to update README in this repo to include information on `obsctl`, once it's up and ready.

[2022-04-01 09:32] pavolloffay commented on #442
done

[2022-04-01 09:32] #442 closed

[2022-04-01 09:56] pavolloffay opened #467 "Add operator manifest files to jsonnet"
Follow up from https://github.com/observatorium/observatorium/pull/461#discussion_r829283774

The getting started installation requires installing cert-manager, jaeger and opentelemetry operators before installing observatorium e.g. `kubectl apply -f ./manifests/ `.

I have tried adding operator installation manifest files to the manifest directory (e.g. `00-cert-manager.yaml` and `01-jaeger-opera

[2022-04-05 11:26] pavolloffay commented on #467
Closing and won't fix for now.

[2022-04-05 11:26] #467 closed

[2022-04-07 00:20] esnible opened #470 "`make generate` fails on macOS"
`make generate` fails on OSX, producing a file named `{}.yaml` and deleting most of the .yaml deployment examples.

To reproduce, on a Mac,

[code]

The problem is very small `xargs` defaults in Darwin.  I am preparing a PR.

Note: This was the most confusing bug I have seen in a long time.  It took me a long time to realize that `make generate` was only deleting 1/3 of the example deployment .yam

[2022-04-08 11:04] esnible opened #472 "API configured for traces even with tracing disabled"
Notice that https://github.com/observatorium/observatorium/blob/main/configuration/examples/dev/manifests/api-deployment.yaml#L43 has

[code]

Of the three examples, only _local_ has tracing enabled, yet all three examples supply now the flags to the API to forward traces.  (Since https://github.com/observatorium/observatorium/pull/461 ).

I am looking into the fix but Jsonnet debugging is new to

[2022-04-11 20:26] esnible opened #473 ""make lint" reports many warnings"
It is hard to check Jsonnet for new mistakes, because the existing Jsonnet does not please `make lint`.

[2022-04-12 17:43] squat commented on #472
I wonder if `.enabled` is kind of an anti-pattern. We don't use this field to control the enabling of logging or metrics, only the existence of the configuration is enough. Perhaps the solution is rather to eliminate `enabled` entirely?

[2022-04-12 18:42] esnible commented on #472
@squat You have a good point.  Perhaps this is why the previous version enabled it.
It troubled me that we use `enabled` to turn off deployment of the back-end, but configure the API to forward traces.  If the user has chosen to deploy without traces we shouldn't offer the APIs.

[2022-04-13 20:17] esnible commented on #181
If you want I can try to add the dry runs to detect configuration generation errors.

Before we can add dry runs we need to change generation so that the dry runs pass.

As an experiment, I did `kubectl apply --dry-run=client -f configuration/examples/<env>/manifests` and repeated with `--dry-run=server`.

For me,
- the dry run of _examples/base_ always succeeds.
- the dry run of _examples/dev_ su

[2022-04-14 08:40] #470 closed

[2022-04-14 12:15] frzifus opened #476 "probably invalid twitter link"
Probably the twitter link in the [governance](https://github.com/observatorium/observatorium/blob/3d467717ca3008a74ce645c2e7c4dd2e5e01f5a3/docs/community/governance.md#maintainers-team) file is not quite up to date?

It points to https://twitter.com/0bservatorium.

![image](https://user-images.githubusercontent.com/10403402/163388452-3f8e5289-b976-445d-b265-0af145eff37d.png)

[2022-04-20 11:28] bwplotka commented on #472
Right. I wonder if this makes sense to do as @squat mention - treat no endpoint config as `enabled=false`

[2022-05-11 12:52] jessicalins commented on #455
I wonder if we can close this issue since `obsctl` is already created and in use :tada: @saswatamcode what do you think?

[2022-05-11 12:53] jessicalins commented on #476
fixed by https://github.com/observatorium/observatorium/pull/477

[2022-05-11 12:53] #476 closed

[2022-05-11 12:54] saswatamcode commented on #455
Sure @jessicalins! Let's close it!

[2022-05-11 13:01] jessicalins commented on #455
done at https://github.com/observatorium/obsctl :tada: closing

[2022-05-11 13:01] #455 closed

[2022-05-25 09:17] matej-g opened #484 "Tutorials: Find a replacement for Katacoda.com"
Katacoda.com is officially being shutdown by 15th June: https://www.oreilly.com/online-learning/leveraging-katacoda-technology.html

We should find an alternative provider to which we can move or (temporarily) remove Katacoda tutorials from docs.

[2022-06-09 13:18] iblancasa commented on #484
I think [Killercoda](https://killercoda.com/) can be an option.

[2022-07-20 12:29] douglascamata opened #493 "Publish multi-arch image"
All the Observatorium repos are currently publishing only `x86_64` images.

This makes is much more difficult for folks with arm64 computers (like Apple Silicon Macbooks) to be able to contribute to the projects.

We should publish multi-arch images with at least `x86_64` and `arm64` architectures. Other architectures could be added in the future.

## Proposal

* Development container builds shoul

[2022-07-20 12:50] douglascamata commented on #493
I'll try to slowly tackle this starting by the token-refresher, because it has the less probability of being disruptive to development of other features.

[2022-10-02 19:46] csantiagoo opened #501 "Query rate on grafana shows nothing when rate is set to 1m"
Hi,

I am trying to get a query that shows me the api server request for 1m with a rate, the thing is that in the ACM I have deployed Grafana using the data source Observatorium, but in Grafanas that I have deployed individually by cluster that the datasource goes with prometheus and the same query works.

![image](https://user-images.githubusercontent.com/103174762/193473147-6c95836f-ac10-48a0-8f

[2022-11-12 18:02] csantiagoo commented on #501
no news?